<div class="six columns offset-by-five">
  <h1>Michael Muse</h1>
  <h2>I like startups</h2>
  <h2>I like skiing</h2>
  <h2>I like live music</h2>
  <h2>I like <a href="http://www.pinterest.com/michaelmuse/bourbon/" target="_blank">bourbon</a></h2>
  <h2>I like lists of five things</h2>
  <div><a href="/contact" ><img src="http://michaelmuse.com/profile.jpg" class="mucho"></a></div>
</div>