<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>my face</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/layout.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
</head>
<body>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>